table.dataframe {
    border-collapse: collapse;
    /*width: 100%;*/
}

table.dataframe th, table.dataframe td {
    text-align: left;
    padding: 8px;
}

table.dataframe tr:nth-child(even) {
    background-color: #f2f2f2;
}
